<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>INDEX 1</title>
</head>
<body>
	<h1>FILE1 TEMPLATE</h1>

	{{#devs}}
		<h2>{{ nome }}</h2>
		<p>{{ apelido }}</p>
		<a href="{{{ github }}}">Link do github</a><br>

	{{/devs}}

</body>
</html>
