<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>INDEX 2</title>
</head>
<body>
	<h1>FILE2 TEMPLATE</h1>

	{{#devs}}
		<h2>#2: {{ nome }}</h2>
		<p>#2: {{ apelido }}</p>
		<a href="{{{ github }}}">#2: Link do github</a><br>
		
	{{/devs}}

</body>
</html>
